* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px 15px;
  margin: 5px;
  background-color: rgb(59, 58, 58);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}